
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 236 24% 23%;

    --card: 0 0% 100%;
    --card-foreground: 236 24% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 236 24% 23%;

    --primary: 236 24% 23%;
    --primary-foreground: 0 0% 100%;

    --secondary: 199 92% 29%;
    --secondary-foreground: 0 0% 100%;

    --accent: 6 63% 41%;
    --accent-foreground: 0 0% 100%;

    --muted: 196 16% 52%;
    --muted-foreground: 0 0% 100%;

    --destructive: 6 63% 41%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 236 24% 23%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 236 24% 15%;
    --foreground: 0 0% 95%;

    --card: 236 24% 15%;
    --card-foreground: 0 0% 95%;

    --popover: 236 24% 15%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 95%;
    --primary-foreground: 236 24% 15%;

    --secondary: 199 92% 29%;
    --secondary-foreground: 0 0% 95%;

    --accent: 6 63% 41%;
    --accent-foreground: 0 0% 95%;

    --muted: 236 24% 25%;
    --muted-foreground: 0 0% 70%;

    --destructive: 0 63% 50%;
    --destructive-foreground: 0 0% 95%;

    --border: 236 24% 25%;
    --input: 236 24% 25%;
    --ring: 0 0% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
